:root {
    --ucab-blue: #2c3e50;
    --ucab-link: #3498db;
    --white: #ffffff; 
    --light-grey: #E4EBF5; 
<<<<<<< HEAD
=======
}

.navbar-nav .nav-link.active-view {
    font-weight: 700;
    border-bottom: 2px solid white;

>>>>>>> origin/main
}


.bg-ucab-blue {
    background-color: var(--ucab-blue) !important;
}

.light-grey-bg {
    background-color: var(--light-grey) !important;
}

.btn-ucab-primary {
    background-color: var(--ucab-link);
    border-color: var(--ucab-link);
    color: var(--white);
    padding: 10px 20px;
    font-weight: 500;
}
.btn-ucab-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
    color: var(--white);
}

 .footer-fixed {
    background-color: var(--ucab-blue);
    color: white;
    padding: 15px 0;
    font-size: 0.875rem;
    flex-shrink: 0; 
    text-align: center;
}
        